[Unit]
Description=Sensors monitoring project using Django, nginx and uWSGI app

[Service]
User=www-data
Group=www-data
WorkingDirectory=PATH_TO_PROJECT_DIR
Environment="PATH=PATH_TO_PROJECT_DIR/.env/bin"
ExecStart=PATH_TO_PROJECT_DIR/.env/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
